.home{
    width:100vw;
    height:100vh;
    background: black;
    /* align-items: center;
    justify-content: center; */
    display: flex;
    

   
    
}


@media screen and (max-width:1000px) {

    .home{
        width:100vw;
        height:100vh;
       
        
    }
    


}